Repository thisalihassan/nestjs-nextjs-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "{src,apps,libs,test}/**/*.ts": ["eslint --fix"],
  "./**/*.{ts,js,json,*rc}": ["prettier --write"]
}

fix
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  package.json
  src/main.ts
Due: eslint --fix, prettier --write

fix ci
  client/package-lock.json
  client/package.json
Due: prettier --write

fix ci
  .github/workflows/ci.yml
Due: none

fix ci
  client/tsconfig.json
Due: prettier --write

fix ci
  client/store/reducers/apiFinal.ts
  client/store/reducers/generated.ts
  client/tsconfig.json
Due: prettier --write

fix ci
  client/store/store.ts
Due: prettier --write

npm workspaces
  package.json
Due: prettier --write
